body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header-top, #header-middle, #header-bottom {
    padding: 10px 20px;
}

#header-top p {
    font-size: 0.01em;
}

#header-middle h1 {
    font-size: 2em;
    font-weight: bold;
}

#header-middle h2 {
    font-size: 0.8em;
}

#header-bottom p {
    font-size: 0.7em;
    margin-bottom: 0;
}

#header-bottom {
    padding-bottom: 0.1em;
}

#main-top {
    padding: 20px;
    text-align: center;
}

#main-top p {
    font-size: 1.2em;
    line-height: 1.5;
}

#main-top .introduction-body {
    font-size: 1.5em;
    font-weight: bold;
}

#main-top .introduction-more p {
    font-size: 1em;
    font-weight: normal;
}

#main-top .image-container {
    max-width: 1000px;
    margin: auto;
}

#main-top .image-container img {
    width: 100%;
    height: auto;
}

#main-bottom {
    padding: 20px;
}

#main-bottom h1 {
    text-align: left;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 32%;
    box-sizing: border-box;
}


.article img {
    width: 100%;
    height: auto;
}

.article h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #000000;
}

.article p {
    font-size: 1em;
    color: #a8a8a8;
}